Design Index

show all designs?


<% @designs.each do |design| %>
<div class="col-md-3">
<h3><%= link_to design.name, design_path(design) %></h3>
<p><%= Beverage.find(design.beverage_id).name %></p>
<p> by <%= User.find(design.user_id).name %> </p>


</div>
<% end %>
