<nav class="navbar navbar-fixed-bottom" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
  <div class="container-fluid">
<h1><% if current_user == nil%> 
<p class="navbar-text"><%= link_to "Log In ", new_session_path %><%= link_to "or Sign Up", new_user_path %></p>
<% else %>
<p class="navbar-right">Your Name Is <%= current_user.name %>, <%= link_to "+", new_beverage_path %> </p>
<% end %>
</h1>
</div>
</nav>
