/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,700);
.jumbotron {
	background-color: rgba(240,240,240,0.7);
}
.well-sm {
	padding: 0;
}
body {
	padding-top: 100px;
	font-family: 'Orbitron', sans-serif;
	background-image: url(bgtop.png);
	background-repeat: cover;
	padding-bottom: 70px;
}

.navbar {
	color: white;
	padding: 5px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	background-color: rgba(240,240,240,0.6);
	a {
		color: white;
	}
	a:hover {
		color: lightgreen;
		text-decoration: none;
	}
}